# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
out/
build/
.next/
.nuxt/

# Secrets and Local configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.env.test

# Vercel metadata
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
server.err.log
server.out.log

# Editor configurations and OS files
.idea/
.vscode/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
